<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CardEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CardEditor.Properties.Settings>
            <setting name="savefolder" serializeAs="String">
                <value>C:\Users\Public\Pictures\output\</value>
            </setting>
            <setting name="inputtxtdir" serializeAs="String">
                <value/>
            </setting>
            <setting name="srcpicdir" serializeAs="String">
                <value/>
            </setting>
        </CardEditor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
